@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@theme {
  --font-sans: "Inter", sans-serif;
  --color-obsidian-900: #050505;
  --color-obsidian-800: #0a0a0a;
  --color-obsidian-700: #121212;
  --color-obsidian-600: #1a1a1a;
}

@layer base {
  body {
    @apply bg-obsidian-900 text-slate-200 font-light selection:bg-rose-500/30;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal tracking-tight text-white;
  }
}